.block-heading{
	color:#3b99e0;
}
.container{
	background-color:lightgray;
}
.col-lg-4{
	background-color:#f7fbff;
	border-top:2px solid #5ea4f3;
}
.col-4 ul li{
	list-style:none;
}
.summary{
	padding:20px;
}

